USE [master]
GO
/****** Object:  Database [FRITS]    Script Date: 5/16/2022 6:01:47 PM ******/
CREATE DATABASE [FRITS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FRITS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FRITS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FRITS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FRITS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FRITS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FRITS]
GO
USE [FRITS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActionPlans]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionPlans](
	[ActionPlanId] [uniqueidentifier] NOT NULL,
	[ObservationId] [uniqueidentifier] NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
	[ScheduleOfficerResponse] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_dbo.ActionPlans] PRIMARY KEY CLUSTERED 
(
	[ActionPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchReviews]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchReviews](
	[BranchReviewId] [uniqueidentifier] NOT NULL,
	[ReviewId] [uniqueidentifier] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DateAssigned] [datetime2](7) NOT NULL,
	[BranchCode] [varchar](10) NOT NULL,
	[ReviewInstruction] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
	[IsSubmitted] [bit] NOT NULL,
	[IsClosed] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BranchReviews] PRIMARY KEY CLUSTERED 
(
	[BranchReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CorrectiveActions]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorrectiveActions](
	[CorrectiveActionId] [uniqueidentifier] NOT NULL,
	[ObservationId] [uniqueidentifier] NOT NULL,
	[CorrectionDate] [date] NOT NULL,
	[Remarks] [varchar](1000) NOT NULL,
	[ObservationStatusId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
 CONSTRAINT [PK_dbo.CorrectiveActions] PRIMARY KEY CLUSTERED 
(
	[CorrectiveActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Findings]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Findings](
	[FindingId] [uniqueidentifier] NOT NULL,
	[BranchReviewId] [uniqueidentifier] NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[FindingNo] [varchar](50) NOT NULL,
	[RiskLevelId] [int] NOT NULL,
	[BranchCode] [varchar](10) NOT NULL,
	[RiskCategoryId] [int] NOT NULL,
	[RiskSubCategory] [varchar](100) NOT NULL,
	[ManagementAwareness] [varchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
 CONSTRAINT [PK_dbo.Findings] PRIMARY KEY CLUSTERED 
(
	[FindingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowUpDetails]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowUpDetails](
	[FollowUpDetailId] [uniqueidentifier] NOT NULL,
	[FollowUpId] [uniqueidentifier] NOT NULL,
	[ObservationId] [uniqueidentifier] NOT NULL,
	[Remarks] [varchar](1000) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
	[ObservationStatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FollowUpDetails] PRIMARY KEY CLUSTERED 
(
	[FollowUpDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowUps]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowUps](
	[FollowUpId] [uniqueidentifier] NOT NULL,
	[FollowUpDate] [date] NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
 CONSTRAINT [PK_dbo.FollowUps] PRIMARY KEY CLUSTERED 
(
	[FollowUpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Observations]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Observations](
	[ObservationId] [uniqueidentifier] NOT NULL,
	[FindingId] [uniqueidentifier] NOT NULL,
	[ObservationDate] [date] NOT NULL,
	[ObservationNo] [varchar](50) NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[Implication] [varchar](1000) NOT NULL,
	[RootCauseAnalysis] [varchar](1000) NOT NULL,
	[ResolutionTiming] [date] NOT NULL,
	[ObservationStatusId] [int] NOT NULL,
	[RiskLevelId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
	[ReferenceOfficerIds] [varchar](255) NULL,
	[ManagementResponse] [varchar](8000) NULL,
	[Assumptions] [varchar](1000) NULL,
	[MitigatingControl] [varchar](1000) NULL,
 CONSTRAINT [PK_dbo.Observations] PRIMARY KEY CLUSTERED 
(
	[ObservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObservationStatus]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservationStatus](
	[ObservationStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[StatusCode] [varchar](15) NOT NULL,
	[Narration] [varchar](1000) NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ObservationStatus] PRIMARY KEY CLUSTERED 
(
	[ObservationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendations]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendations](
	[RecommendationId] [uniqueidentifier] NOT NULL,
	[RecommendationType] [smallint] NOT NULL,
	[TypeReferenceId] [uniqueidentifier] NOT NULL,
	[Description] [varchar](5000) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
 CONSTRAINT [PK_dbo.Recommendations] PRIMARY KEY CLUSTERED 
(
	[RecommendationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewFiles]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewFiles](
	[ReviewFileId] [uniqueidentifier] NOT NULL,
	[ReviewFileType] [smallint] NOT NULL,
	[ReferenceTypeId] [uniqueidentifier] NOT NULL,
	[Description] [varchar](5000) NOT NULL,
	[FileName] [varchar](255) NOT NULL,
	[FileExtension] [varchar](10) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
 CONSTRAINT [PK_dbo.ReviewFiles] PRIMARY KEY CLUSTERED 
(
	[ReviewFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [uniqueidentifier] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[ReviewCode] [varchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[LastUpdatedDate] [datetime2](7) NULL,
	[LastUpdatedByID] [int] NULL,
	[IsAuthorised] [bit] NOT NULL,
	[AuthorisedByID] [int] NULL,
	[AuthorisedDate] [datetime2](7) NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedByID] [int] NULL,
	[IsClosed] [bit] NOT NULL,
	[ClosedById] [int] NOT NULL,
	[ClosedDate] [date] NOT NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskCategories]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskCategories](
	[RiskCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[RiskCategoryDesc] [varchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.RiskCategories] PRIMARY KEY CLUSTERED 
(
	[RiskCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskLevels]    Script Date: 5/16/2022 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskLevels](
	[RiskLevelId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[RiskScore] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.RiskLevels] PRIMARY KEY CLUSTERED 
(
	[RiskLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ActionPlans] ([ActionPlanId], [ObservationId], [Description], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [ScheduleOfficerResponse]) VALUES (N'd5f46b9b-19f9-eb11-80e3-00155d00a60d', N'9ce35290-8ef3-eb11-80e3-00155d00a60d', N'The operation is then passed to the provider so ', CAST(N'2021-08-09T13:56:34.8419607' AS DateTime2), 13045, CAST(N'2021-08-13T12:16:51.3698577' AS DateTime2), 13045, 1, 13045, CAST(N'2021-08-13T12:16:51.3698577' AS DateTime2), NULL, NULL, N'')
INSERT [dbo].[ActionPlans] ([ActionPlanId], [ObservationId], [Description], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [ScheduleOfficerResponse]) VALUES (N'b31ac9e8-e100-ec11-80e6-00155d00a60d', N'6d6890d9-e000-ec11-80e6-00155d00a60d', N'P;ILUKERTYUIOIYUJTHRGEFRTYOLIUKYJTHRGFTYUILUKYJTHRGEFRTYUIYH', CAST(N'2021-08-19T11:38:02.2117234' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-19T11:38:02.2117234' AS DateTime2), NULL, NULL, N'RYUIOPOIUHFGDGHJJGHFDGHIUTRRTYUIYT')
GO
INSERT [dbo].[CorrectiveActions] ([CorrectiveActionId], [ObservationId], [CorrectionDate], [Remarks], [ObservationStatusId], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'6bc763f1-84fb-eb11-80e3-00155d00a60d', N'9ce35290-8ef3-eb11-80e3-00155d00a60d', CAST(N'2021-08-03' AS Date), N'We did the first correction action stated in the action plan', 1, CAST(N'2021-08-12T15:49:57.7933296' AS DateTime2), 13045, NULL, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[CorrectiveActions] ([CorrectiveActionId], [ObservationId], [CorrectionDate], [Remarks], [ObservationStatusId], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'9828f5e8-2efc-eb11-80e3-00155d00a60d', N'9ce35290-8ef3-eb11-80e3-00155d00a60d', CAST(N'2021-08-13' AS Date), N'We did took another step to correct it', 2, CAST(N'2021-08-13T12:06:37.7879570' AS DateTime2), 13045, NULL, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[CorrectiveActions] ([CorrectiveActionId], [ObservationId], [CorrectionDate], [Remarks], [ObservationStatusId], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'dff7391b-0f0b-ec11-80e7-00155d00a60d', N'3e9f5707-0d0b-ec11-80e7-00155d00a60d', CAST(N'2021-10-06' AS Date), N'Management has been notified, awaiting approval.', 2, CAST(N'2021-09-01T10:26:46.0572537' AS DateTime2), 11712, CAST(N'2021-09-01T10:27:00.5448113' AS DateTime2), 11712, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[FollowUpDetails] ([FollowUpDetailId], [FollowUpId], [ObservationId], [Remarks], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [ObservationStatusId]) VALUES (N'69cc2591-29fc-eb11-80e3-00155d00a60d', N'68cc2591-29fc-eb11-80e3-00155d00a60d', N'9ce35290-8ef3-eb11-80e3-00155d00a60d', N'This is a follow up test entry for Observation ', CAST(N'2021-08-13T11:28:22.9774862' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-13T11:28:22.9774862' AS DateTime2), NULL, NULL, 3)
INSERT [dbo].[FollowUpDetails] ([FollowUpDetailId], [FollowUpId], [ObservationId], [Remarks], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [ObservationStatusId]) VALUES (N'c22240de-2cfc-eb11-80e3-00155d00a60d', N'c12240de-2cfc-eb11-80e3-00155d00a60d', N'9ce35290-8ef3-eb11-80e3-00155d00a60d', N'THIS IS A FOLLOW UP INPUT TEST', CAST(N'2021-08-13T11:52:00.8315931' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-13T11:52:00.8315931' AS DateTime2), NULL, NULL, 2)
INSERT [dbo].[FollowUpDetails] ([FollowUpDetailId], [FollowUpId], [ObservationId], [Remarks], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [ObservationStatusId]) VALUES (N'ff1624e2-2ffc-eb11-80e3-00155d00a60d', N'fe1624e2-2ffc-eb11-80e3-00155d00a60d', N'9ce35290-8ef3-eb11-80e3-00155d00a60d', N'Finally done.', CAST(N'2021-08-13T12:13:36.0439225' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-13T12:13:36.0439225' AS DateTime2), NULL, NULL, 4)
GO
INSERT [dbo].[FollowUps] ([FollowUpId], [FollowUpDate], [Description], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'68cc2591-29fc-eb11-80e3-00155d00a60d', CAST(N'2021-08-05' AS Date), N'This is A FollowUp Test', CAST(N'2021-08-13T11:28:22.9774862' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-13T11:28:22.9774862' AS DateTime2), NULL, NULL)
INSERT [dbo].[FollowUps] ([FollowUpId], [FollowUpDate], [Description], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'c12240de-2cfc-eb11-80e3-00155d00a60d', CAST(N'2021-08-13' AS Date), N'ANOTHER FOLLOWUP ON THIS ISSUE', CAST(N'2021-08-13T11:52:00.8315931' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-13T11:52:00.8315931' AS DateTime2), NULL, NULL)
INSERT [dbo].[FollowUps] ([FollowUpId], [FollowUpDate], [Description], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'fe1624e2-2ffc-eb11-80e3-00155d00a60d', CAST(N'2021-08-13' AS Date), N'NEW TEST FOLLOWUP', CAST(N'2021-08-13T12:13:36.0439225' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-13T12:13:36.0439225' AS DateTime2), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ObservationStatus] ON 

INSERT [dbo].[ObservationStatus] ([ObservationStatusId], [Description], [StatusCode], [Narration], [IsEnabled]) VALUES (1, N'Issue Not Corrected', N'INC', N'The recommendation has not been implemented', 1)
INSERT [dbo].[ObservationStatus] ([ObservationStatusId], [Description], [StatusCode], [Narration], [IsEnabled]) VALUES (2, N'Issue Not Fully Corrected', N'INFC', N'The recommendation has been partly/not yet fully implemented', 1)
INSERT [dbo].[ObservationStatus] ([ObservationStatusId], [Description], [StatusCode], [Narration], [IsEnabled]) VALUES (3, N'Issue Not Yet Due', N'INYD', N'The agreed date for implementing the recommendation has not yet been reached', 1)
SET IDENTITY_INSERT [dbo].[ObservationStatus] OFF
GO
INSERT [dbo].[Recommendations] ([RecommendationId], [RecommendationType], [TypeReferenceId], [Description], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'e3e95aaa-8ef3-eb11-80e3-00155d00a60d', 2, N'9ce35290-8ef3-eb11-80e3-00155d00a60d', N'To decouple the custom operation from the SQL, you can define your own MigrationOperation to represent it.', CAST(N'2021-08-02T12:39:32.2750615' AS DateTime2), 13045, NULL, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ReviewFiles] ([ReviewFileId], [ReviewFileType], [ReferenceTypeId], [Description], [FileName], [FileExtension], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'bbba5062-b4fe-eb11-80e4-00155d00a60d', 1, N'477e6388-8ef3-eb11-80e3-00155d00a60d', N'Proof File', N'Proof File-15017b81-5931-44a8-81c5-9f94a2b167c7', N'xlsx', CAST(N'2021-08-16T17:07:07.0527213' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-16T17:07:07.0527213' AS DateTime2), NULL, NULL)
INSERT [dbo].[ReviewFiles] ([ReviewFileId], [ReviewFileType], [ReferenceTypeId], [Description], [FileName], [FileExtension], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID]) VALUES (N'20c12189-42ff-eb11-80e5-00155d00a60d', 1, N'477e6388-8ef3-eb11-80e3-00155d00a60d', N'Testing Upload After Modification', N'-9d827d15-6ad1-4ab3-9789-2912d887c5e3', N'zip', CAST(N'2021-08-17T10:04:40.6119112' AS DateTime2), 13045, NULL, NULL, 1, 13045, CAST(N'2021-08-17T10:04:40.6119112' AS DateTime2), NULL, NULL)
GO
INSERT [dbo].[Reviews] ([ReviewId], [Description], [ReviewCode], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [IsClosed], [ClosedById], [ClosedDate]) VALUES (N'b728207c-85f3-eb11-80e3-00155d00a60d', N'QUATERLY BRANCH REVIEW', N'IR-444100001', CAST(N'2021-08-02T11:33:40.9100358' AS DateTime2), 13045, CAST(N'2021-08-02T11:33:48.7271797' AS DateTime2), 13045, 1, 13045, CAST(N'2021-08-02T11:33:48.7271797' AS DateTime2), NULL, NULL, 0, 0, CAST(N'1900-01-01' AS Date))
INSERT [dbo].[Reviews] ([ReviewId], [Description], [ReviewCode], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [IsClosed], [ClosedById], [ClosedDate]) VALUES (N'1cac3aea-96fa-eb11-80e3-00155d00a60d', N'TEST REVIEW', N'IR-44419-2', CAST(N'2021-08-11T11:26:05.1320935' AS DateTime2), 13045, CAST(N'2021-08-18T09:41:39.5793977' AS DateTime2), 13045, 1, 13045, CAST(N'2021-08-18T09:41:39.5793977' AS DateTime2), NULL, NULL, 1, 13045, CAST(N'2021-08-18' AS Date))
INSERT [dbo].[Reviews] ([ReviewId], [Description], [ReviewCode], [CreatedDate], [CreatedByID], [LastUpdatedDate], [LastUpdatedByID], [IsAuthorised], [AuthorisedByID], [AuthorisedDate], [DeletedDate], [DeletedByID], [IsClosed], [ClosedById], [ClosedDate]) VALUES (N'40094505-56ff-eb11-80e5-00155d00a60d', N'NEW REVIEW TEST', N'IR-44425-3', CAST(N'2021-08-17T12:24:09.1661066' AS DateTime2), 13045, CAST(N'2022-03-16T09:55:49.9025255' AS DateTime2), 14470, 1, 14470, CAST(N'2022-03-16T09:55:49.9025255' AS DateTime2), NULL, NULL, 0, 0, CAST(N'1900-01-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[RiskCategories] ON 

INSERT [dbo].[RiskCategories] ([RiskCategoryId], [RiskCategoryDesc]) VALUES (1, N'Strategic')
INSERT [dbo].[RiskCategories] ([RiskCategoryId], [RiskCategoryDesc]) VALUES (2, N'Compliance')
INSERT [dbo].[RiskCategories] ([RiskCategoryId], [RiskCategoryDesc]) VALUES (3, N'Financial')
SET IDENTITY_INSERT [dbo].[RiskCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[RiskLevels] ON 

INSERT [dbo].[RiskLevels] ([RiskLevelId], [Description], [RiskScore]) VALUES (1, N'Low', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[RiskLevels] ([RiskLevelId], [Description], [RiskScore]) VALUES (2, N'Medium', CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[RiskLevels] ([RiskLevelId], [Description], [RiskScore]) VALUES (3, N'High', CAST(3.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[RiskLevels] OFF
GO
/****** Object:  Index [IX_ObservationId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObservationId] ON [dbo].[ActionPlans]
(
	[ObservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewId] ON [dbo].[BranchReviews]
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ObservationId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObservationId] ON [dbo].[CorrectiveActions]
(
	[ObservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ObservationStatusId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObservationStatusId] ON [dbo].[CorrectiveActions]
(
	[ObservationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchReviewId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchReviewId] ON [dbo].[Findings]
(
	[BranchReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RiskCategoryId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_RiskCategoryId] ON [dbo].[Findings]
(
	[RiskCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RiskLevelId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_RiskLevelId] ON [dbo].[Findings]
(
	[RiskLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FollowUpId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_FollowUpId] ON [dbo].[FollowUpDetails]
(
	[FollowUpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ObservationId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObservationId] ON [dbo].[FollowUpDetails]
(
	[ObservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ObservationStatusId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObservationStatusId] ON [dbo].[FollowUpDetails]
(
	[ObservationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FindingId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_FindingId] ON [dbo].[Observations]
(
	[FindingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ObservationStatusId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_ObservationStatusId] ON [dbo].[Observations]
(
	[ObservationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RiskLevelId]    Script Date: 5/16/2022 6:01:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_RiskLevelId] ON [dbo].[Observations]
(
	[RiskLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActionPlans] ADD  DEFAULT (newsequentialid()) FOR [ActionPlanId]
GO
ALTER TABLE [dbo].[ActionPlans] ADD  DEFAULT ('') FOR [ScheduleOfficerResponse]
GO
ALTER TABLE [dbo].[BranchReviews] ADD  DEFAULT (newsequentialid()) FOR [BranchReviewId]
GO
ALTER TABLE [dbo].[BranchReviews] ADD  DEFAULT ((0)) FOR [IsSubmitted]
GO
ALTER TABLE [dbo].[BranchReviews] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[CorrectiveActions] ADD  DEFAULT (newsequentialid()) FOR [CorrectiveActionId]
GO
ALTER TABLE [dbo].[Findings] ADD  DEFAULT (newsequentialid()) FOR [FindingId]
GO
ALTER TABLE [dbo].[FollowUpDetails] ADD  DEFAULT (newsequentialid()) FOR [FollowUpDetailId]
GO
ALTER TABLE [dbo].[FollowUpDetails] ADD  DEFAULT ((0)) FOR [ObservationStatusId]
GO
ALTER TABLE [dbo].[FollowUps] ADD  DEFAULT (newsequentialid()) FOR [FollowUpId]
GO
ALTER TABLE [dbo].[Observations] ADD  DEFAULT (newsequentialid()) FOR [ObservationId]
GO
ALTER TABLE [dbo].[Recommendations] ADD  DEFAULT (newsequentialid()) FOR [RecommendationId]
GO
ALTER TABLE [dbo].[ReviewFiles] ADD  DEFAULT (newsequentialid()) FOR [ReviewFileId]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (newsequentialid()) FOR [ReviewId]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [ClosedById]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ClosedDate]
GO
ALTER TABLE [dbo].[ActionPlans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActionPlans_dbo.Observations_ObservationId] FOREIGN KEY([ObservationId])
REFERENCES [dbo].[Observations] ([ObservationId])
GO
ALTER TABLE [dbo].[ActionPlans] CHECK CONSTRAINT [FK_dbo.ActionPlans_dbo.Observations_ObservationId]
GO
ALTER TABLE [dbo].[BranchReviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BranchReviews_dbo.Reviews_ReviewId] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([ReviewId])
GO
ALTER TABLE [dbo].[BranchReviews] CHECK CONSTRAINT [FK_dbo.BranchReviews_dbo.Reviews_ReviewId]
GO
ALTER TABLE [dbo].[CorrectiveActions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CorrectiveActions_dbo.Observations_ObservationId] FOREIGN KEY([ObservationId])
REFERENCES [dbo].[Observations] ([ObservationId])
GO
ALTER TABLE [dbo].[CorrectiveActions] CHECK CONSTRAINT [FK_dbo.CorrectiveActions_dbo.Observations_ObservationId]
GO
ALTER TABLE [dbo].[CorrectiveActions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CorrectiveActions_dbo.ObservationStatus_ObservationStatusId] FOREIGN KEY([ObservationStatusId])
REFERENCES [dbo].[ObservationStatus] ([ObservationStatusId])
GO
ALTER TABLE [dbo].[CorrectiveActions] CHECK CONSTRAINT [FK_dbo.CorrectiveActions_dbo.ObservationStatus_ObservationStatusId]
GO
ALTER TABLE [dbo].[Findings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Findings_dbo.BranchReviews_BranchReviewId] FOREIGN KEY([BranchReviewId])
REFERENCES [dbo].[BranchReviews] ([BranchReviewId])
GO
ALTER TABLE [dbo].[Findings] CHECK CONSTRAINT [FK_dbo.Findings_dbo.BranchReviews_BranchReviewId]
GO
ALTER TABLE [dbo].[Findings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Findings_dbo.RiskCategories_RiskCategoryId] FOREIGN KEY([RiskCategoryId])
REFERENCES [dbo].[RiskCategories] ([RiskCategoryId])
GO
ALTER TABLE [dbo].[Findings] CHECK CONSTRAINT [FK_dbo.Findings_dbo.RiskCategories_RiskCategoryId]
GO
ALTER TABLE [dbo].[Findings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Findings_dbo.RiskLevels_RiskLevelId] FOREIGN KEY([RiskLevelId])
REFERENCES [dbo].[RiskLevels] ([RiskLevelId])
GO
ALTER TABLE [dbo].[Findings] CHECK CONSTRAINT [FK_dbo.Findings_dbo.RiskLevels_RiskLevelId]
GO
ALTER TABLE [dbo].[FollowUpDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FollowUpDetails_dbo.FollowUps_FollowUpId] FOREIGN KEY([FollowUpId])
REFERENCES [dbo].[FollowUps] ([FollowUpId])
GO
ALTER TABLE [dbo].[FollowUpDetails] CHECK CONSTRAINT [FK_dbo.FollowUpDetails_dbo.FollowUps_FollowUpId]
GO
ALTER TABLE [dbo].[FollowUpDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FollowUpDetails_dbo.Observations_ObservationId] FOREIGN KEY([ObservationId])
REFERENCES [dbo].[Observations] ([ObservationId])
GO
ALTER TABLE [dbo].[FollowUpDetails] CHECK CONSTRAINT [FK_dbo.FollowUpDetails_dbo.Observations_ObservationId]
GO
ALTER TABLE [dbo].[FollowUpDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FollowUpDetails_dbo.ObservationStatus_ObservationStatusId] FOREIGN KEY([ObservationStatusId])
REFERENCES [dbo].[ObservationStatus] ([ObservationStatusId])
GO
ALTER TABLE [dbo].[FollowUpDetails] CHECK CONSTRAINT [FK_dbo.FollowUpDetails_dbo.ObservationStatus_ObservationStatusId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.Findings_FindingId] FOREIGN KEY([FindingId])
REFERENCES [dbo].[Findings] ([FindingId])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.Findings_FindingId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.ObservationStatus_ObservationStatusId] FOREIGN KEY([ObservationStatusId])
REFERENCES [dbo].[ObservationStatus] ([ObservationStatusId])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.ObservationStatus_ObservationStatusId]
GO
ALTER TABLE [dbo].[Observations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Observations_dbo.RiskLevels_RiskLevelId] FOREIGN KEY([RiskLevelId])
REFERENCES [dbo].[RiskLevels] ([RiskLevelId])
GO
ALTER TABLE [dbo].[Observations] CHECK CONSTRAINT [FK_dbo.Observations_dbo.RiskLevels_RiskLevelId]
GO
USE [master]
GO
